<div class="dashboard-container">
    <h4 class="page-title">Dashbaord</h4>
    <div class="top-box">
        <div class="content-box">
            <h4 class="title">All Sale Reports</h4>
        </div>
        <div class="bg-image-box">
            <img class="image" src="../../../assets/images/admin.svg" alt="" srcset="">
        </div>
    </div>
    <div class="content">
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Service</th>
                    <th>Description</th>
                    <th>Merchant</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                   
                </tr>
            </thead>
            <tr class="table-space"></tr>
            <tbody>
                <tr *ngFor="let item of items">
                    <td class="primary">{{item.no}}</td>
                    <td class="primary">{{item.service}}</td>
                    <td>{{item.desc}}</td>
                    <td>{{item.merchant}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.createdAt}}</td>
                    <td>{{item.updatedAt}}</td>
                </tr>
               
            </tbody>
        </table>
    </div>
</div>
